.widget.sep-after:after {
    margin-top: 1.76em;
}

.widget-about .logo {
    max-width: 100%;
}

.widget-about .logo img {
    border-radius: 5px;
}

.btn-register {
    padding: 10px 15px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #26a69a;
    color: #ecf0f1;
    transition: background-color .3s;
    border-bottom: none !important;
}

.btn-register:hover, .btn-register:focus {
    background-color: #35BAAC;
}

.btn-register > * {
    position: relative;
}

.btn-register span {
    display: block;
    padding: 12px 24px;
}

.btn-register:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-register:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn-register.orange {
    background-color: #e67e22;
}

.btn-register.orange:hover, .btn-register.orange:focus {
    background-color: #d35400;
}

.btn-register.gray {
    color:rgb(160, 160, 160);
    background-color:rgb(78, 78, 78);
}

.btn-register.gray:hover, .btn-register.gray:focus {
    color:rgb(160, 160, 160);
    background-color: rgb(78, 78, 78);
}

.btn-register.red {
    background-color: #e74c3c;
}

.btn-register.red:hover, .btn-register.red:focus {
    background-color: #c0392b;
}